In [9]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from pprint import pprint
import warnings
warnings.filterwarnings('ignore')

In [10]:
executable_path = {"executable_path": "chromedriver.exe"}

def init_browser():
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

browser = init_browser()

In [11]:
# Visit the NASA Mars News Site.
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

# Wait for the page/page elements to load.
time.sleep(1)

# Scrape page into soup.
html = browser.html
soup = bs(html, "html.parser")

# Get latest news title and paragraph text.
news_title = soup.find_all('div', class_='content_title')[1].text
news_p = soup.find_all('div', class_="article_teaser_body")[0].text
print(f"Latest news title: {news_title}.")
print(f"Latest news paragraph text: {news_p}")

Latest news title: The Detective Aboard NASA's Perseverance Rover.
Latest news paragraph text: An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

In [12]:
# Visit the url for JPL Featured Space Image.
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

# Wait for page/page elements to load.
time.sleep(1)

# Scrape page into soup.
html = browser.html
soup = bs(html, "html.parser")

# Get image url for featured image.
featured_image_base_url = "https://www.jpl.nasa.gov"
featured_image_relative_path = soup.find('li', class_='slide').a['data-fancybox-href']
featured_image_url = featured_image_base_url + featured_image_relative_path
print(f"Featured image url: {featured_image_url}")

Featured image url: https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23932_hires.jpg

In [13]:
# Visit the Mars Weather twitter account.
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

# Wait for the page/page elements to load.
time.sleep(8)

# Scrape page into soup.
html = browser.html
soup = bs(html, "html.parser")

# Get latest Mars weather tweet.
mars_weather_tweet = soup.find(attrs={"data-testid" : "tweet"})
mars_weather_tweet_text = mars_weather_tweet.text

mars_weather_list = mars_weather_tweet_text.split("InSight")
mars_weather = mars_weather_list[1]

print(f"Latest Mars weather tweet: {mars_weather}")

Latest Mars weather tweet:  sol 535 (2020-05-29) low -91.3ºC (-132.4ºF) high -2.7ºC (27.2ºF)
winds from the SW at 5.2 m/s (11.5 mph) gusting to 16.7 m/s (37.3 mph)
pressure at 7.20 hPa829

In [14]:

# Visit url for mars facts.
url = "https://space-facts.com/mars/"
browser.visit(url)

# Wait for page/page elements to load.
time.sleep(1)

# Scrape page into soup.
html = browser.html
soup = bs(html, "html.parser")

# Get Mars facts table using pandas.
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:

# Convert table for site to pandas dataframe.
df = tables[0]
df.columns = ["Measurement", "Value"]
df.set_index("Measurement", inplace=True)
df.head()

                                              Value
Measurement
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [16]:
# Convert pandas dataframe to a html string.
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Measurement</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:

# Remove any new line characters from the html string.
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Measurement</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [22]:

# Save the html string to a file.
df.to_html('BootcampWebScraping_ChallengeWebScraping_Challenge')

In [23]:
# Visit url for images of Mar's hemispheres.
base_url = "https://astrogeology.usgs.gov"
hemisphere_list_url = base_url + "/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_list_url)

# Wait for the page/page elements to load.
time.sleep(1)

# Scrape page into soup.
html = browser.html
soup = bs(html, "html.parser")

# Get hemisphere name and image url for the full resolution image.
hemispheres = soup.find_all('div', class_='item')
hemisphere_image_urls = []

for hemisphere in hemispheres:
    link_text = hemisphere.find('h3').text
    splitted = link_text.split('Enhanced')
    title = splitted[0]
    browser.click_link_by_partial_text(link_text)
    hemisphere_page_html = browser.html
    soup = bs(hemisphere_page_html, "html.parser")
    downloads = soup.find('div', class_="downloads")
    img_url = downloads.a["href"]
    hemisphere_dict = { "title": title, "img_url": img_url }
    hemisphere_image_urls.append(hemisphere_dict)
    browser.back()
    
pprint(hemisphere_image_urls)

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere '},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere '},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere '},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere '}]